* {
    margin: 0;
    padding: 0;
    margin: auto;
    text-decoration: none;
}
body {
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    padding: 1em;
}

a {
    background-color: rgb(206, 205, 205);
    font: Arial 19pt bold;
    color: rgb(55, 58, 58);
}

a:hover {
    background: #fad505;
    border: 1px solid #000;
    border-radius: 2px;
    transition: 2ms;
}

table {
    width: 100vh;
    border-collapse: collapse;
}

td, th {
    border: 0.01em solid gray;
    padding: 10px;
}

caption {
    font-size: 1.5em;
    font-weight: bold;
    padding: 7px;
    background-color: lightgray;
}

thead {
    background: #a7a7a70f;
}

td.num {
    text-align: right;
}