body {
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 1em;
}

a {
    background-color: rgb(206, 205, 205);
    font: Arial 19pt bold;
    color: rgb(235, 220, 10);
    text-decoration: none;
}

a:hover {
    background: #000000;
    border: 1px solid #000;
    border-radius: 0.2em;
    transition: 4ms;
}

table {
    width: 100vh;
    border-collapse: collapse;
}

td, th {
    border: 1px solid #000;
    padding: 10px;
}

caption {
    font-size: 1.5em;
    font-weight: bold;
    padding: 7px;
    background-color: lightgray;
}