* {
    margin: 0;
    padding: 0;
    margin: auto;
}
body {
    font-family: Arial, Helvetica, sans-serif;
}

table {
    width: 100vh;
    border-collapse: collapse;
}

td, th {
    border: 0.02em solid gray;
    padding: 10px;
    text-align: center;
}

caption {
    font-size: 1.5em;
    font-weight: bold;
    padding: 7px;
    background-color: lightgray;
}

thead, tfoot {
    background: #a7a7a70f;
}

td.num {
    text-align: right;
}